.header {
  grid-column: container-start / container-end;
  &.open .header__menu--line {
    background-color: transparent;
  }
  &.open .header__menu--line::before {
    transform: rotate(45deg);
  }
  &.open .header__menu--line::after {
    transform: rotate(-45deg);
  }

  &.open .header__menu--line::after,
  &.open .header__menu--line::before {
    top: 0;
  }

  &__overlay {
    width: 100%;
    height: 100vh;
    background-color: var(--color-quinary);
    position: fixed;
    opacity: 0;
    display: none;
    z-index: 10;
  }
  //   nav

  &__nav {
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;

    &--logo {
      font-size: font-size(font-size-regular);
      font-weight: font-weight(font-weight-regular);
      margin-left: 4rem;
    }

    &--links {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;

      &__item {
        a {
          margin-right: 1vw;
          padding: 0 1.5rem;
          position: relative;
          display: block;
          transform-style: preserve-3d;
          transform-origin: top;
          transition: transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
      }

      &__icons {
        display: flex;
      }
    }

    &--icons {
      display: flex;
      padding: 2rem;
      justify-content: space-between;

      div {
        padding: 1rem;
      }

      &__toggle-container {
        display: flex;
        align-items: center;
        cursor: pointer;
        input[type="checkbox"] {
          cursor: pointer;
          position: relative;
          width: 6rem;
          height: 3rem;
          -webkit-appearance: none;
          -moz-appearance: none;
          background-color: var(--color-quinary);
          border-radius: 2.5rem;
          box-shadow: inset 0 0 0.6rem rgb(158, 157, 157);
          transition: all 0.5s ease-in-out;
        }

        input:checked[type="checkbox"] {
          background-color: #bde0fe;
        }

        input:not(:checked)[type="checkbox"] {
          background-color: var(--color-tertiary);
        }

        input[type="checkbox"]::after,
        input[type="checkbox"]::before {
          content: "";
          position: absolute;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          top: 0.8rem;
          background-color: var(--color-quinary);
          box-shadow: 0 0.1rem 0.3rem 0.1rem hsla(0, 0%, 50%, 0.35);
          transition: 0.5s ease-in-out;
        }

        input[type="checkbox"]::after {
          right: 0.5rem;
        }
        input[type="checkbox"]::before {
          left: 0.5rem;
        }
        input:checked[type="checkbox"]::before {
          left: 37%;
          box-shadow: none;
        }
        input:checked[type="checkbox"]::after {
          right: 37%;
          box-shadow: none;
        }
      }
    }
  }

  @include media-tablet {
    &__nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 25rem;
      background: var(--color-primary);
      flex-direction: column;
      justify-content: space-evenly !important;
      align-items: center;
      transform: translateX(-100%);
      transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      z-index: 20;

      &--links {
        flex-direction: column;
        flex-grow: 0.5;
        justify-content: space-evenly;
      }
      &--logo {
        margin: 0 !important;
      }
    }

    &.open nav {
      transform: translateY(0);
    }

    &__menu {
      height: 4rem;
      width: 4rem;
      position: fixed;
      top: 2rem;
      right: 2rem;
      padding: 2.5rem;
      z-index: 21;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-primary);

      &--line,
      &--line::before,
      &--line::after {
        content: "";
        position: absolute;
        width: 3.5rem;
        height: 2px;
        // top: 0;
        // left: 0;
        // bottom: 0;
        // right: 0;
        // margin: auto;
        background-color: white;
        transition: all 0.5s ease-in-out;
        z-index: 20;
      }
      &--line::before {
        top: -1rem;
      }

      &--line::after {
        top: 1rem;
      }
    }

    &.open &__overlay {
      display: block;
      opacity: 0.5;
    }
  }
}

.sticky {
  position: fixed;
  background-color: var(--color-quinary-m);
  z-index: 10;
}

.transition {
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}
