.lenders {
  grid-column: container-start / container-end;
  background-color: var(--color-primary-m);

  &__title {
    text-align: center;
    font-size: font-size(font-size-regular);
    font-weight: font-weight(font-weight-regular);
    text-transform: uppercase;
    margin-top: 2rem;
    letter-spacing: 0.4rem;
  }
  &__logo {
    margin-top: 3rem;
    padding: 1rem 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 6rem;
    place-items: center;

    & img {
      width: calc(7rem + 5vw);
      margin-right: 5rem;
    }
  }

  // @include media-tablet {
  //   &__logo {
  //     flex-direction: column;
  //   }
  // }
}
