@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap");

@font-face {
  font-family: "gilroy";
  src: url(../fonts/Gilroy-Regular.ttf), url(../fonts/Gilroy-Black.ttf);
  font-style: normal;
}
:root {
  font-size: 62.5%;
}
body {
  font-family: "gilroy";
  line-height: 1.9;
  background-color: var(--color-quinary);
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns:
    [container-start] 1fr [center-start] repeat(
      6,
      [col-start] minmax(min-content, 16.66667rem) [col-end]
    )
    [center-end] 1fr [container-end];

  grid-template-rows: 140vh repeat(9, min-content);
  @include media-tablet {
    grid-template-rows: 100vh repeat(9, min-content);
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: font-weight(font-weight-light);
  font-size: font-size(font-size-small);
}

i {
  font-size: font-size(font-size-regular);
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  padding: 1.8rem 4rem;
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: font-size(font-size-small);
  // color: var(--color-quinary);
  letter-spacing: 0.3rem;
  transition: 0.5s ease-in-out;
}

@include media-tablet {
  button {
    padding: 1rem 2rem;
  }
}
