html {
  --color-primary: #ffb4a2;
  --color-primary-m: #ffeee4;
  --color-secondary: #453232;
  --color-secondary-m: #797979;
  --color-tertiary: #215865;
  --color-tertiary-m: rgb(38, 52, 65, 0.65);
  --color-quaternary: #f19c79;
  --color-quaternary-m: #e5989b;
  --color-quinary: white;
  --color-quinary-m: rgb(256, 256, 256, 0.8);
}

html[data-theme="dark"] {
  --color-primary: rgb(36, 38, 43);
  --color-primary-m: rgba(36, 38, 43, 0.65);
  --color-secondary: #6c757d;
  --color-secondary-m: #fff;
  --color-tertiary: rgb(38, 52, 65);
  --color-tertiary-m: hsl(183, 34%, 38%, 0.65);
  --color-quaternary: hsl(220, 10%, 28%);
  --color-quaternary-m: hsl(220, 10%, 28%, 0.65);
  --color-quinary: rgb(36, 38, 43);
  --color-quinary-m: rgb(255, 255, 255, 0.8);
}

$font-weights: (
  "font-weight-thin": 100,
  "font-weight-light": 300,
  "font-weight-regular": 400,
  "font-weight-medium": 500,
  "font-weight-bold": 700,
  "font-weight-black": 900,
);

@function font-weight($font-weight-style) {
  @return map-get($font-weights, $font-weight-style);
}

$font-sizes: (
  "font-size-small": calc(1rem + 0.5vw),
  "font-size-regular": calc(1.2rem + 0.5vw),
  "font-size-medium": calc(1.5rem + 2vw),
  "font-size-large": calc(1.5rem + 5vw),
  "font-size-xlarge": calc(2.5rem + 5vw),
);

@function font-size($font-size) {
  @return map-get($font-sizes, $font-size);
}

$break-points: (
  "break-point-small": 400px,
  "break-point-medium": 600px,
  "break-point-tablet": 800px,
  "break-point-desktop": 1300px,
);

@function break-point($break-point-size) {
  @return map-get($break-points, $break-point-size);
}
