html {
  --color-primary: #ffb4a2;
  --color-primary-m: #fefae0;
  --color-secondary: #7f5539;
  --color-secondary-m: #4cc9f0;
  --color-tertiary: #ffb4a2;
  --color-tertiary-m: rgb(38, 52, 65, 0.65);
  --color-quaternary: #f19c79;
  --color-quaternary-m: #e5989b;
  --color-quinary: white;
  --color-quinary-m: rgb(255, 255, 255, 0.5);
}

$font-weights: (
  "font-weight-thin": 100,
  "font-weight-light": 300,
  "font-weight-regular": 400,
  "font-weight-medium": 500,
  "font-weight-bold": 700,
  "font-weight-black": 900,
);

@function font-weight($font-weight-style) {
  @return map-get($font-weights, $font-weight-style);
}

$font-sizes: (
  "font-size-small": calc(1rem + 0.5vw),
  "font-size-regular": calc(1.2rem + 0.5vw),
  "font-size-medium": calc(1.5rem + 2vw),
  "font-size-large": calc(1.5rem + 5vw),
  "font-size-xlarge": calc(2.5rem + 5vw),
);

@function font-size($font-size) {
  @return map-get($font-sizes, $font-size);
}

$break-points: (
  "break-point-small": 400px,
  "break-point-medium": 600px,
  "break-point-tablet": 800px,
  "break-point-desktop": 1300px,
);

@function break-point($break-point-size) {
  @return map-get($break-points, $break-point-size);
}
