@mixin media-tablet {
  @media screen and (max-width: break-point(break-point-tablet)) {
    @content;
  }
}

@mixin media-medium {
  @media screen and (max-width: break-point(break-point-medium)) {
    @content;
  }
}
@mixin media-small {
  @media screen and (max-width: break-point(break-point-small)) {
    @content;
  }
}
@mixin media-desktop {
  @media screen and (max-width: break-point(break-point-desktop)) {
    @content;
  }
}

@import "./reset";
@import "./variables";
@import "./utilities";
@import "./header";
@import "./hero";
@import "./lenders";
@import "./aboutus";
@import "./products";
@import "./comments";
@import "./footer";

%bg {
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

%title {
  font-size: font-size(font-size-large);
  font-weight: font-weight(font-weight-regular);
}

%para {
  font-size: font-size(font-size-small);
  font-weight: font-weight(font-weight-regular);
  color: var(--color-secondary-m);
}
