@mixin media-tablet {
  @media screen and (max-width: break-point(break-point-tablet)) {
    @content;
  }
}

@mixin media-medium {
  @media screen and (max-width: break-point(break-point-medium)) {
    @content;
  }
}
@mixin media-small {
  @media screen and (max-width: break-point(break-point-small)) {
    @content;
  }
}

@import "./reset";
@import "./variables";
@import "./utilities";
@import "./header";
@import "./hero";
@import "./lenders";

%bg {
  background-repeat: none;
  background-position: center;
  background-size: cover;
}
