@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --color-primary: #ffb4a2;
  --color-primary-m: #ffeee4;
  --color-secondary: #453232;
  --color-secondary-m: #797979;
  --color-tertiary: #215865;
  --color-tertiary-m: rgb(38, 52, 65, 0.65);
  --color-quaternary: #f19c79;
  --color-quaternary-m: #e5989b;
  --color-quinary: white;
  --color-quinary-m: rgb(256, 256, 256, 0.9);
}

@font-face {
  font-family: "gilroy";
  src: url(../fonts/Gilroy-Regular.ttf), url(../fonts/Gilroy-Black.ttf);
  font-style: normal;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "gilroy";
  line-height: 1.9;
  background-color: var(--color-quinary);
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 16.66667rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: 140vh repeat(9, min-content);
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-rows: 100vh repeat(9, min-content);
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 300;
  font-size: calc(1rem + 0.5vw);
}

i {
  font-size: calc(1.2rem + 0.5vw);
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  padding: 1.8rem 4rem;
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: calc(1rem + 0.5vw);
  letter-spacing: 0.3rem;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 800px) {
  button {
    padding: 1rem 2rem;
  }
}

.header {
  grid-column: container-start / container-end;
}

.header.open .header__menu--line {
  background-color: transparent;
}

.header.open .header__menu--line::before {
  transform: rotate(45deg);
}

.header.open .header__menu--line::after {
  transform: rotate(-45deg);
}

.header.open .header__menu--line::after,
.header.open .header__menu--line::before {
  top: 0;
}

.header__overlay {
  width: 100%;
  height: 100vh;
  background-color: var(--color-quinary);
  position: fixed;
  opacity: 0;
  display: none;
  z-index: 10;
}

.header__nav {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
}

.header__nav--logo {
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 400;
  margin-left: 4rem;
}

.header__nav--links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.header__nav--links__item a {
  margin-right: 1vw;
  padding: 0 1.5rem;
  position: relative;
  display: block;
  transform-style: preserve-3d;
  transform-origin: top;
  transition: transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.header__nav--links__icons {
  display: flex;
}

.header__nav--icons {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}

.header__nav--icons div {
  padding: 1rem;
}

@media screen and (max-width: 800px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 25rem;
    background: var(--color-primary);
    flex-direction: column;
    justify-content: space-evenly !important;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 20;
  }
  .header__nav--links {
    flex-direction: column;
    flex-grow: 0.5;
    justify-content: space-evenly;
  }
  .header__nav--logo {
    margin: 0 !important;
  }
  .header.open nav {
    transform: translateY(0);
  }
  .header__menu {
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    padding: 2.5rem;
    z-index: 21;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
  }
  .header__menu--line, .header__menu--line::before, .header__menu--line::after {
    content: "";
    position: absolute;
    width: 3.5rem;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease-in-out;
    z-index: 20;
  }
  .header__menu--line::before {
    top: -1rem;
  }
  .header__menu--line::after {
    top: 1rem;
  }
  .header.open .header__overlay {
    display: block;
    opacity: 0.5;
  }
}

.sticky {
  position: fixed;
  background-color: var(--color-quinary-m);
  z-index: 10;
}

.showcase {
  grid-column: container-start / container-end;
  background-image: url("../images/p1.jpg");
  display: grid;
  grid-template-rows: min-content 90vh;
  grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 16.66667rem) [col-end]) [center-end] 1fr [container-end];
}

.hero {
  grid-column: container-start / container-end;
  display: flex;
  flex-direction: column;
}

.hero__title {
  font-size: calc(2.5rem + 5vw);
  color: var(--color-secondary);
  text-align: center;
}

.hero__showcase {
  display: flex;
}

.hero__showcase--content {
  width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__showcase--content--para {
  font-size: calc(1rem + 0.5vw);
  margin: 2rem;
  padding: 0 2rem;
}

.hero__showcase--content__search {
  position: relative;
  margin-left: 2rem;
}

.hero__showcase--content__search input {
  border: none;
  width: calc(20rem + 5vw);
  padding: 2rem 2rem;
  position: relative;
  margin: 2rem;
}

.hero__showcase--content__search i {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-secondary);
  padding: 0.8rem;
  color: var(--color-quinary);
}

.hero__showcase--content__btn button {
  border: none;
  margin: 2rem 4rem;
  color: var(--color-quinary);
  background-color: var(--color-secondary);
  font-size: calc(1rem + 0.5vw);
  letter-spacing: 0.3rem;
}

.hero__showcase--detail {
  align-self: center;
  margin: auto;
  flex-wrap: wrap;
}

.hero__showcase--detail__circle {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-quinary);
  font-size: calc(1.5rem + 2vw);
  position: relative;
}

.hero__showcase--detail__circle::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 150%;
  background-color: #000;
  right: -160%;
}

.hero__showcase--detail__content {
  font-size: calc(1rem + 0.5vw);
  width: 30rem;
  position: absolute;
  right: 0;
}

.hero__showcase--detail__content p:first-of-type {
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .hero {
    margin-top: 50px;
  }
  .hero__title {
    font-size: calc(1.5rem + 2vw);
    text-align: left;
    margin-left: 2rem;
    padding: 0 2rem;
  }
  .hero__showcase {
    flex-direction: column;
  }
  .hero__showcase--content {
    width: 30rem;
  }
}

.lenders {
  grid-column: container-start / container-end;
  background-color: var(--color-primary-m);
}

.lenders__title {
  text-align: center;
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2rem;
  letter-spacing: 0.4rem;
}

.lenders__logo {
  margin: 3rem 0;
  padding: 1rem 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 6rem;
  place-items: center;
  place-content: center;
}

.lenders__logo img {
  width: calc(7rem + 5vw);
}

.about-us {
  grid-column: container-start / container-end;
  background: var(--color-quinary);
  padding: 5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: [col-start] 1fr repeat(6, minmax(min-content, 10rem)) 1fr [col-end];
  grid-template-rows: repeat(4, minmax(min-content, 10rem));
}

.about-us__content {
  grid-column: 1 / 5;
  grid-row: 1/3;
}

.about-us__content--btn {
  background-color: var(--color-secondary);
  color: var(--color-quinary);
}

.about-us__pro1 {
  grid-column: 6 / 9;
  grid-row: 1/5;
}

.about-us__pro1--para {
  margin-top: 2rem;
}

.about-us__pro1--btn {
  background-color: var(--color-quinary);
  border: 0.2rem solid var(--color-secondary);
}

.about-us__pro1 img {
  width: 100%;
  height: 50rem;
  object-fit: cover;
}

.about-us__pro2 {
  grid-row: 3/6;
  grid-column: 1 / 5;
}

.about-us__pro2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .about-us__content {
    grid-column: col-start / col-end;
    grid-row: 1/3;
  }
  .about-us__pro1 {
    grid-column: col-start / col-end;
    grid-row: 3/4;
  }
  .about-us__pro1 img {
    height: auto;
  }
  .about-us__pro2 {
    grid-column: col-start / col-end;
    grid-row: 4/5;
  }
}

.products {
  grid-column: container-start / container-end;
  text-align: center;
}

.products__cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.products__cards--content {
  text-align: left;
  padding: 1rem 2rem;
}

.products__cards--content__title {
  font-size: calc(1.5rem + 2vw);
}

.products__cards--content__details {
  display: flex;
  justify-content: space-between;
}

.products__cards--content__details--detail p:first-of-type {
  font-size: calc(1.5rem + 2vw);
  color: var(--color-tertiary);
  position: relative;
}

.products__cards--content__details--detail p:first-of-type::after {
  position: absolute;
  content: "";
  width: 60%;
  height: 0.3rem;
  bottom: 0;
  left: 0;
  background-color: var(--color-secondary);
}

.products__cards--content__details--detail p:last-of-type {
  margin-top: 1rem;
}

.products__cards--content__btns {
  display: flex;
  justify-content: space-around;
}

.products__cards--content__btns button:first-of-type {
  background-color: var(--color-secondary);
  color: var(--color-quinary);
}

.products__cards--content__btns button:last-of-type {
  background-color: var(--color-quinary);
  color: var(--color-secondary);
  border: 0.2rem solid var(--color-secondary);
}

.products__cards--card {
  width: 40%;
}

.products__cards--card img {
  width: 100%;
  height: 50rem;
  object-fit: cover;
}

.products__results {
  padding: 4rem 2rem;
  background-color: var(--color-primary-m);
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.products__results--result:first-of-type, .products__results--result:nth-of-type(2) {
  border-right: 0.2rem solid var(--color-secondary);
}

.products__results--result {
  width: 33%;
  padding: 3rem 5rem;
}

.products__results--result p:first-of-type {
  color: var(--color-secondary);
  font-size: calc(1.5rem + 2vw);
}

@media screen and (max-width: 800px) {
  .products__cards {
    width: 100%;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }
  .products__cards--card {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .products__results {
    flex-direction: column;
    align-items: center;
  }
  .products__results--result {
    border-right: 0 !important;
    border-bottom: 0.2rem solid var(--color-secondary);
    width: 70%;
  }
}

.introduction {
  display: flex;
  grid-column: container-start / container-end;
  justify-content: space-evenly;
  align-items: center;
  padding: 10rem 0;
  margin: 4rem 0;
}

.introduction__pic {
  width: 40%;
  height: 60rem;
  background-color: var(--color-primary);
  position: relative;
}

.introduction__pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
}

.introduction__content {
  width: 30%;
}

.introduction__content--title {
  font-size: calc(1.5rem + 2vw);
}

.introduction__content--para {
  margin-top: 3rem;
}

.introduction__content button {
  background-color: var(--color-secondary);
  color: var(--color-quinary);
  margin-top: 8rem;
}

@media screen and (max-width: 800px) {
  .introduction {
    flex-direction: column;
  }
  .introduction__content, .introduction__pic {
    width: 80%;
  }
  .introduction__content {
    margin-top: 5rem;
  }
}

.comments {
  grid-column: container-start / container-end;
  text-align: center;
  padding-bottom: 10rem;
  position: relative;
}

.comments__header {
  width: 100%;
  margin: auto;
}

.comments__header--title {
  font-size: calc(1.5rem + 2vw);
}

.comments__slider {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 80%;
  margin: auto;
  height: 50rem;
}

.comments__slider--slide {
  text-align: left;
  position: absolute;
  top: 3rem;
  width: 32rem;
  margin-right: 2.5rem;
  padding: 5rem 3rem;
  background: var(--color-quinary);
  box-shadow: 3px 3px 15px rgba(114, 113, 113, 0.2);
}

.comments__slider--slide__active .comments__slider--slide__para {
  color: black;
}

.comments__slider--slide__active {
  transform: scale(1.05) !important;
  background-color: var(--color-primary);
  z-index: 2;
}

.comments__slider--slide__stars {
  text-align: left;
}

.comments__slider--slide__stars i {
  color: yellow;
}

.comments__slider--slide__para {
  margin-top: 1.5rem;
}

.comments__slider--slide__profile {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

.comments__slider--slide__profile--pic {
  width: 5rem;
  height: 5rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  margin-right: 2.5rem;
}

.comments__slider--slide__profile--role {
  margin-right: 2rem;
}

.comments__slider--slide__profile--role__name {
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 700;
}

.comments__slider--slide__profile--role__des {
  font-size: 1.5rem;
  color: var(--color-secondary-m);
}

.comments__slider--arrows {
  display: flex;
  justify-content: flex-end;
}

.comments__slider--arrows__right, .comments__slider--arrows__left {
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: black;
  border-radius: 50%;
}

.comments__slider--arrows__right i, .comments__slider--arrows__left i {
  color: var(--color-quinary);
}

@media screen and (max-width: 800px) {
  .comments {
    padding-bottom: 5rem;
  }
  .comments__slider {
    flex-direction: column;
  }
}

.comments__slider--slide__profile--pic:nth-child(1) {
  background-image: url("../images/profile-1.jpg");
}

.comments__slider--slide__profile--pic:nth-child(2) {
  background-image: url("../images/profile-2.jpg");
}

.comments__slider--slide__profile--pic:nth-child(3) {
  background-image: url("../images/profile-3.jpg");
}

.footer {
  grid-column: container-start / container-end;
  padding: 20rem 0 5rem 0;
}

.footer__col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer__description {
  width: calc(25rem + 8vw);
  padding: 0 2rem;
}

.footer__description--name {
  font-size: calc(1.5rem + 2vw);
  font-weight: 700;
}

.footer__description--para {
  margin-top: 1rem;
}

.footer__description--socials {
  margin-top: 4rem;
  display: flex;
}

.footer__description--socials i {
  padding: 1rem;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  margin-right: 2rem;
}

.footer__category--name, .footer__aboutus--name, .footer__menu--name {
  font-size: calc(1.5rem + 2vw);
}

.footer__category--links a, .footer__aboutus--links a, .footer__menu--links a {
  color: var(--color-secondary-m) !important;
}

.footer hr {
  width: 90%;
  margin: 5rem auto;
  opacity: 0.4;
}

.footer__copyright {
  text-align: center;
  color: var(--color-secondary-m);
  font-size: calc(1rem + 0.5vw);
}

@media screen and (max-width: 800px) {
  .footer__col {
    flex-direction: column;
    align-items: center;
  }
  .footer__col div {
    margin-top: 2rem;
    text-align: center;
  }
  .footer__description--socials {
    justify-content: center;
  }
}

.showcase, .comments__slider--slide__profile--pic:nth-child(1), .comments__slider--slide__profile--pic:nth-child(2), .comments__slider--slide__profile--pic:nth-child(3) {
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

.about-us__content--title, .products__title {
  font-size: calc(1.5rem + 5vw);
  font-weight: 400;
}

.about-us__content--para, .about-us__pro1--para, .products__description, .products__cards--content__para, .products__cards--content__details--detail p:last-of-type, .products__results--result p:last-of-type, .introduction__content--para, .comments__header--para, .comments__slider--slide__para, .footer__description--para {
  font-size: calc(1rem + 0.5vw);
  font-weight: 400;
  color: var(--color-secondary-m);
}
/*# sourceMappingURL=style.css.map */